{% if is_paginated %}
<div class="row text-center py-2">
  <div class="col-4 mx-auto">
    <ul class="pagination pagination-custom m-4">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET %}
          {% for key, value in request.GET.items %}
            {% if key != 'page' %}
              &{{ key }}={{ value }}
            {% endif %}
          {% endfor %}
        {% endif %}" aria-label="Previous">
          <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
      </li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
      <li class="page-item {% if num == page_obj.number %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}{% if request.GET %}
          {% for key, value in request.GET.items %}
            {% if key != 'page' %}
              &{{ key }}={{ value }}
            {% endif %}
          {% endfor %}
        {% endif %}">{{ num }}</a>
      </li>
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET %}
          {% for key, value in request.GET.items %}
            {% if key != 'page' %}
              &{{ key }}={{ value }}
            {% endif %}
          {% endfor %}
        {% endif %}" aria-label="Next">
          <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
      </li>
      {% endif %}
    </ul>
  </div>
</div>

<style>
  .pagination-custom .page-item .page-link {
    color: #000000;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-custom .page-item.active .page-link {
    background-color: #e8dbb3;
    color: white;
    border-color: #e8dbb3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.pagination-custom .page-item.disabled .page-link {
    color: #6c757d;
}

.pagination-custom .page-item:hover .page-link {
    background-color: #da6e6e;
    color: white;
    border-color: #da6e6e;
}

</style>

{% endif %}
