{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center mb-4">Hello, and welcome to DevTrack!</h1>
  <p class="lead text-center mb-4">DevTrack is a task manager for IT companies where you can track project progress, manage teams and tasks, and effectively interact with all participants.</p>

  <div class="row">
    <!-- Статистика -->
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Total Tasks</h5>
          <p class="display-6">{{ total_tasks }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Completed Tasks</h5>
          <p class="display-6">{{ completed_tasks }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Active Projects</h5>
          <p class="display-6">{{ active_projects }}</p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-4">Last Tasks</h2>
  <ul class="list-group">
    {% for task in last_tasks %}
      <li class="list-group-item">
        <strong>{{ task.title }}</strong> - Status: {{ task.status }}
      </li>
    {% empty %}
      <li class="list-group-item">No recent tasks.</li>
    {% endfor %}
  </ul>

  <h2 class="mt-4">Recent Activities</h2>
  <ul class="list-group">
    {% for activity in recent_activities %}
      <li class="list-group-item">
        <strong>{{ activity.user }}</strong> {{ activity.action }} <strong>{{ activity.task }}</strong> at {{ activity.timestamp }}
      </li>
    {% empty %}
      <li class="list-group-item">No recent activity.</li>
    {% endfor %}
  </ul>

  <h2 class="mt-4">Create a New Task</h2>
  <a href="{% url 'TaskTracker:create_task' %}" class="btn btn-success" >+ New Task</a>
  <form method="post" action="{% url 'TaskTracker:create_task' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label">Task Title</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
      <label for="project" class="form-label">Project</label>
      <select class="form-control" id="project" name="project">
        {% for project in projects %}
          <option value="{{ project.id }}">{{ project.name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Create Task</button>
  </form>
  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}
