{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center mb-4">Hello, and welcome to DevTrack!</h1>
  <p class="lead text-center mb-4">DevTrack is a task manager for IT companies where you can track project progress, manage teams and tasks, and effectively interact with all participants.</p>

  <h2 class="mb-3">Last Tasks</h2>
  <ul class="list-group">
    <li class="list-group-item">Task #1 - Status: Completed</li>
    <li class="list-group-item">Task #2 - Status: In progress</li>
    <li class="list-group-item">Task #3 - Status: Pending</li>
  </ul>
{% endblock %}
