{% extends 'base.html' %}

{% block content %}
  <h1 class="my-4">Projects</h1>

  <div class="mb-4">
    <form method="get">
      {% csrf_token %}
      {{ form.as_p }}  <!-- Виведення форми пошуку -->
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>

  <div class="text-center">
    <a href="{% url 'TaskTracker:create_project' %}" class="btn btn-success">Create Project</a>
  </div>

  {% if projects %}
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Teams</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.end_date }}</td>
                    <td>
                        {% for team in project.teams.all %}
                            <span class="badge bg-info">{{ team.name }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'TaskTracker:update_project' project.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'TaskTracker:delete_project' project.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  {% else %}
    <p class="text-center">No projects available.</p>
  {% endif %}
{% endblock %}
