{% extends 'base.html' %}

{% block title %} {% if project %} Update Project {% else %} Create Project {% endif %} {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} {% if project %} update-project-page {% else %} create-project-page {% endif %} {% endblock body_class %}

{% load crispy_forms_filters %}

{% block content %}
<section class="project-form py-5">
  <div class="container">
    <h2 class="text-center mb-4 mt-6" style="color: #786e4e;">
      {% if project %} Update Project: {{ project.name }} {% else %} Create New Project {% endif %}
    </h2>
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="card project-card">
          <div class="card-body">

            <h5 class="card-title">{% if project %} Update Project Details {% else %} Enter Project Details {% endif %}</h5>
            <form action="" method="post" novalidate>
              {% csrf_token %}
              <div class="form-group">
                {{ form|crispy }}
              </div>
              <button type="submit" class="btn btn-primary btn-block" style="background-color: #786e4e; border-color: #786e4e;">
                {% if project %} Update Project {% else %} Create Project {% endif %}
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block javascripts %}
  <script src="{{ ASSETS_ROOT }}/js/plugins/countup.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/rellax.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/tilt.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
{% endblock javascripts %}
