{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
<section class="task-list">
  <div class="container mt-7">
    <h2 class="text-center">Your Tasks</h2>
    <p class="text-center">Here is the list of all your tasks. Click on a task to edit or view details.</p>

    <div class="list-group">
      {% for task in tasks %}
      <a href="{% url 'TaskTracker:task_detail' task.pk %}" class="list-group-item list-group-item-action">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ task.name }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <small>Due: {{ task.deadline|default:"No due date" }}</small>
          </div>
        </div>
      </a>
      {% empty %}
      <p class="text-center">No tasks available at the moment.</p>
      {% endfor %}
    </div>
  </div>
</section>

<style>
body {
  background: linear-gradient(45deg, #ea4793, #d8c0b0, #e8dbb3, #adeaad, #0099ff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  padding: 40px;
}

h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5rem;
}

.list-group-item {
  font-size: 1.2rem;
  color: #333;
  padding: 12px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.list-group-item:hover {
  background-color: #f1f1f1;
  transform: translateY(-5px);
}

.list-group-item.active {
  background-color: #4CAF50;
  color: #ffffff;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-3px);
}

.card-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #786e4e;
  margin-bottom: 20px;
}

.card-text {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
}

small {
  font-size: 1rem;
  color: #a69b9b;
}

</style>
{% endblock content %}
