{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create / Update Task Type{% endblock %}

{% block content %}
<div class="container mt-10">
    <div class="card shadow-lg border-light">
        <div class="card-header bg-gradient text-white">
            <h2 class="mb-0">
                {% if object %}Update{% else %}Create{% endif %} Task Type
            </h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn custom-btn rounded-pill px-4 py-2">
                        {% if object %}Save changes{% else %}Create{% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<style>
    .bg-gradient {
        background: linear-gradient(to right, #1f4037, #99f2c8);
    }

    .custom-btn {
        font-size: 16px;
        font-weight: 600;
        border: 2px solid #786e4e;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .custom-btn:hover {
        background-color: #5f523c;
        transform: scale(1.05);
        border-color: #5f523c;
    }

    /* Form and Card Styling */
    .card {
        border-radius: 10px;
    }

    .card-body {
        padding: 2rem;
    }

    .container {
        max-width: 800px;
    }

</style>
