{% extends 'base.html' %}

{% block title %} Worker Details {% endblock %}

{% block content %}
<div class="container mt-7">
    <h1>Worker Details</h1>

    <div class="worker-detail">
        <p><strong>First Name:</strong> {{ worker.first_name }}</p>
        <p><strong>Last Name:</strong> {{ worker.last_name }}</p>
        <p><strong>Position:</strong> {{ worker.position.name }}</p>
        <p><strong>Email:</strong> {{ worker.email }}</p>
        <p><strong>Phone Number:</strong> {{ worker.phone_number }}</p>
        <p><strong>Date of Birth:</strong> {{ worker.date_of_birth }}</p>
        <p><strong>Address:</strong> {{ worker.address }}</p>
        <p><strong>Joined On:</strong> {{ worker.joined_on }}</p>

        <p><strong>Department:</strong> {{ worker.department }}</p>
    </div>

    <a href="{% url 'TaskTracker:worker-list' %}" class="btn btn-primary mt-3">Back to Worker List</a>
</div>
{% endblock %}
