{% extends 'base.html' %}

{% block title %} Worker Details {% endblock %}

{% block content %}
<div class="container mt-7">
    <h1>Worker Details</h1>

    <div class="worker-detail">
        <p><strong>First Name:</strong> {{ worker.first_name }}</p>
        <p><strong>Last Name:</strong> {{ worker.last_name }}</p>
        <p><strong>Position:</strong> {{ worker.position.name }}</p>
        <p><strong>Email:</strong> {{ worker.email }}</p>
        <p><strong>Phone Number:</strong> {{ worker.phone_number }}</p>
        <p><strong>Date of Birth:</strong> {{ worker.date_of_birth }}</p>
        <p><strong>Address:</strong> {{ worker.address }}</p>
        <p><strong>Joined On:</strong> {{ worker.joined_on }}</p>

        <p><strong>Department:</strong> {{ worker.department }}</p>
    </div>

    <a href="{% url 'TaskTracker:worker-list' %}" class="my-custom-btn mt-3" style="display: inline-block !important;
          padding: 10px 20px !important;
          background-color: #da6e6e !important;
          color: white !important;
          text-decoration: none !important;
          border: 2px solid #da6e6e !important;
          border-radius: 5px !important;
          font-size: 1.1rem !important;
          font-weight: bold !important;
          transition: all 0.3s ease-in-out !important;">Back to Worker List</a>
</div>
{% endblock %}



